{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}



{% block body %}

    {{ include('partials/_articleFull.html.twig') }}


    {{ include('partials/_newComment.html.twig') }}

    <hr class="my-4">

    {% if comments %}

        <h2>{{ comments | length }} comment(s)</h2>

        {% for comment in comments %}

            {{ include('partials/_comment.html.twig') }}

        {% endfor %}

    {% endif %}


{% endblock %}
